<div class="title">
  <img alt="" src="mana-tracker-title.gif">
</div>

<div [style.background-image]="'url(\'dnd-background.jpg\')'" class="main">
  <div [style.background-image]="'url(\'parchment.jpg\')'" class="super-form">
    <form [formGroup]="maxManaForm">

      <div class="level-blessing">
        <div class="level">
          <label>Level</label>
          <basalt-number-input [max]="20" [min]="1" [step]="1" formControlName="level"/>
        </div>

        <div class="blessing">
          Blessing
          <div class="blessings">
            <label><input
              checked
              formControlName="blessing"
              name="blessing"
              type="radio"
              value="none"
            >None Apply</label>
            <label><input
              formControlName="blessing"
              name="blessing"
              type="radio"
              value="greed"
            >Greed</label>
            <label><input
              formControlName="blessing"
              name="blessing"
              type="radio"
              value="gluttony"
            >Gluttony</label>
          </div>
        </div>
      </div>

      <div class="row-2">
        <div class="max-mana">
          <label>Total Max Mana</label>
          <div class="display">{{ maxManaForm.value.maxMana }}</div>
        </div>
        <div class="extra-mana">
          <label>Extra Mana Cap</label>
          <basalt-number-input [min]="0" [step]="1" formControlName="extraManaMax"/>
        </div>
      </div>

      <div class="row-3">
        <div class="current">
          <div class="current-display">
            <label>Current Mana</label>
            <span>
            <basalt-number-input [max]="currentManaMaxSignal()" [min]="0" formControlName="currentMana" type="number"/>
            / {{ maxManaForm.controls.maxMana.value }}
              <span class="percent">
                {{
                  Math.floor(100 * maxManaForm.controls.currentMana.value
                    / maxManaForm.controls.maxMana.value)
                }}%
              </span>
          </span>
          </div>
          <div class="current-reset">
            <button (click)="onTurnEnd()">Draw Mana</button>
          </div>
          <div class="current-reset-2">
            <button (click)="OnResetMana()">Reset</button>
          </div>
        </div>
      </div>
    </form>

    <div class="row-4">
      <basalt-number-input [formControl]="addRemoveForm"/>
      <button (click)="addRemove(1)">Add</button>
      <button (click)="addRemove(-1)">Remove</button>
    </div>

    <form [formGroup]="spellSpecForm">
      <div class="row-5">
        <div class="spell-spec-col-1">
          <label>Base Cost Sum</label>
          <label>Interacting Patterns</label>
          <label>Range (ft)</label>
        </div>
        <div class="spell-spec-col-2">
          <basalt-number-input
            [class.invalid]="spellSpecForm.controls.baseCostSum.invalid"
            [min]="0"
            [step]="1"
            formControlName="baseCostSum"/>
          <basalt-number-input
            [class.invalid]="spellSpecForm.controls.patterns.invalid"
            [min]="1"
            [step]="1"
            formControlName="patterns"/>
          <basalt-number-input
            [class.invalid]="spellSpecForm.controls.range.invalid"
            [min]="0"
            [step]="1"
            formControlName="range"/>
        </div>
      </div>
      <div class="row-6">
        <div class="cost">
          <span>Cost: </span>
          <span
            [style.color]="spellSpecForm.errors?.['tooMuch'] ? 'red' : 'black'"
          >{{ spellSpecForm.controls.cost.value }}</span>
        </div>
        <button (click)="onCastSpell()">Cast Spell</button>
      </div>
    </form>
  </div>
</div>
