<div class="title">
  <img alt="" src="spell-point-tracker-title.gif">
</div>

<div [style.background-image]="'url(\'dnd-background.jpg\')'" class="main">
  <div [style.background-image]="'url(\'parchment.jpg\')'" class="super-form">

    <form [formGroup]="form">
      <label>Level</label>
      <basalt-number-input [max]="20" [min]="1" formControlName="level"/>

      <span class="points-display">
        <label>Points</label>
        <basalt-number-input [max]="maxSignal()" [min]="0" formControlName="current"/>
        <span>/</span><div class="display">{{ form.controls.max.value }}</div>
        <button (click)="onPointReset()">Reset Points</button>
      </span>

      <div class="button-field">
        <button
          (click)="onCastSpell(i)"
          *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8]"
          [disabled]="spellLevelSignal() < i"
        >
          Cast lvl {{ i + 1 }} ({{ SptPointsBySpellLevel[i] }})
          <br>
          {{ Math.floor(currentSignal() / SptPointsBySpellLevel[i]) }} Remaining
        </button>
      </div>

    </form>

  </div>
</div>
